PORT=3000
NODE_ENV=development
DB_NAME=mba_db
DB_URI=mongodb://127.0.0.1:27017/mba_db
AUTH_KEY=your_jwt_secret_key_here
NOTIFICATION_SERVICE=http://localhost:3001
PROD_DB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/mba_db
REDIS_URL=redis://127.0.0.1:6379
